<ul id="menu">
    <li>
        @Html.ActionLink("权限模块", "index", "user")
        <ul>
            <li>@Html.ActionLink("模块管理", "index", "module")</li>
            <li>@Html.ActionLink("用户管理", "index", "user")</li>
            <li>@Html.ActionLink("角色管理", "index", "role")</li>
            <li>@Html.ActionLink("部门管理", "index", "department")</li>
        </ul>
    </li>
    <li>
        @Html.ActionLink("战绩首页",string.Empty, "lol")
        <ul>
            <li>@Html.ActionLink("英雄信息", "index", "ChampionInfo")</li>
            <li>@Html.ActionLink("英雄统计", "ShowChampionInfo", "lol", new {beginDate = "2014-10-19"}, null)</li>
	        <li>@Html.ActionLink("成长曲线", "ShowMyChampionInfos", "lol")</li>
	        <li>@Html.ActionLink("综合统计", "FullDataAnalysis", "lol")</li>
			<li>@Html.ActionLink("战绩统计", "Records", "lol")</li>
        </ul>
    </li>
    <li>
        @Html.ActionLink("系统参数", "index", "setting")
    </li>
    @*<li>
        @Html.ActionLink("示例代码", string.Empty, "Demo")
        <ul>
            <li>@Html.ActionLink("提示信息", "Notification", "Demo")</li>
            <li>@Html.ActionLink("日程", "Scheduler", "Demo")</li>
            <li>@Html.ActionLink("Tab", "tab", "Demo")</li>
            <li>@Html.ActionLink("日历", "TempleCal", "Demo")</li>
            <li>@Html.ActionLink("文件上传", "Upload", "Demo")</li>
            <li>@Html.ActionLink("Window", "Window", "Demo")</li>
        </ul>
    </li>*@
    <li>
        <span>主题样式</span>
    </li>
 
</ul>
<script type="text/javascript">
    $("#menu").kendoMenu();
</script>
