<!DOCTYPE html>
<html>
<head>
   <title>@ViewBag.Title </title>
    @Html.Partial("ImportReferences")
  
</head>

<body>
    @Html.Partial("Components/Notification")
    @Html.Partial("Components/Header")
  
    @RenderBody()

</body>
</html>
