@using Fzrain.Web.Framework.Theme
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title </title>
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo."+ThemeSetting.CurrentTheme+".min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.dataviz."+ThemeSetting.CurrentTheme+".min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/messages/kendo.messages.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/cultures/kendo.culture.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <style>
        .mainleft {
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;
            height: 100%;
            overflow: auto;
            background: #f5f7f8;
            border-right: 1px solid #ebecee;
            z-index: 1;
        }

        .mainright {
            width: 80%;
            background-color: #fff;
            line-height: 1.5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            -webkit-box-sizing: border-box;
        }

        .myButton {
            -moz-box-shadow: 0px 10px 14px -3px #276873;
            -webkit-box-shadow: 0px 10px 14px -3px #276873;
            box-shadow: 0px 10px 14px -3px #276873;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
            background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
            background-color: #599bb3;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Georgia;
            font-size: 21px;
            font-weight: bold;
            padding: 13px 25px;
            text-decoration: none;
            text-shadow: 1px 1px 0px #3d768a;
        }

            .myButton:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
                background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
                background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
                background-color: #408c99;
            }

            .myButton:active {
                position: relative;
                top: 1px;
            }
    </style>
    @RenderSection("featured",false)

    <script type="text/javascript">
        $(function () {
            $(".themeDiv").click(function () {
                $.cookie("theme", $(this).text(), { expiresAt: new Date(2099, 1, 1) });
                window.location.href = window.location.href;
            });
        })
    </script>
</head>
<body style="margin:0!important;font-size:14px;">
    <header style="background-color:#2a2d33;color:#fff;font-size:12px;height:78px;padding-top:15px;padding-right:20px">
        <div class="themeDiv" style="float:right;margin-left:10px"><a href="#" class="myButton">default</a></div>
        <div class="themeDiv" style="float:right;margin-left:10px"><a href="#" class="myButton">bootstrap</a></div>
        <div class="themeDiv" style="float:right;margin-left:10px"><a href="#" class="myButton">metro</a></div>
        <div class="themeDiv" style="float:right;margin-left:10px"><a href="#" class="myButton">material</a></div>
    </header>
    <section style="position:absolute ;top:78px;bottom :44px;width:100%;overflow:hidden ;margin:0;">
        @RenderBody()
    </section>
    <footer style="background-color:#2a2d33;color:#fff;text-align:center;position:absolute;bottom:0;left :0;width:100%;box-sizing :border-box;padding :0 1em 0 0;font:400 14px Arial,Helvetica,sans-serif;list-style:none">
        <p>&copy; @DateTime.Now.Year - Fzrain  Application</p>
    </footer>
</body>
</html>
