<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title </title>
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/messages/kendo.messages.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/cultures/kendo.culture.zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <style>
        .mainleft {
            position :absolute;
            top :0;
            left :0;
            width:20%;
            height:100%;
            overflow :auto ;
            background:#f5f7f8;
            border-right:1px solid #ebecee;
            z-index :1
        }
        .mainright {
            width:80%;
            background-color:#fff;
            line-height:1.5;
            position :absolute ;
            top:0;
            right :0;
            bottom :0;
            -webkit-box-sizing:border-box;
           
        }
        
    </style>
    @RenderSection("featured",false)
	

</head>
    <body style="margin:0!important;font-size:14px">
    <header style="background-color:#2a2d33;color:#fff;font-size:12px;height:78px">
       
    </header>
    <section style="position:absolute ;top:78px;bottom :44px;width:100%;overflow:hidden ;margin:0;">
        @RenderBody()
    </section>
    <footer style="background-color:#2a2d33;color:#fff;text-align:center;position:absolute;bottom:0;left :0;width:100%;box-sizing :border-box;padding :0 1em 0 0;font:400 14px Arial,Helvetica,sans-serif;list-style:none">
        <p>&copy; @DateTime.Now.Year - Fzrain  Application</p>
    </footer>
</body>
</html>
