@using Fzrain.Web.Framework.Theme
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title </title>
    @Html.Partial("ImportReferences")
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        a, a:hover {
            text-decoration: none;
        }

        td, th span {
            text-align: center;
        }

            td i {
                cursor: pointer;
            }

        .mainleft {
            width: 20%;
            height: 100%;
            overflow: auto;
            background: #f5f7f8;
            float: left;
        }

        .mainright {
            width: 80%;
            background-color: #fff;
            line-height: 1.5;
            float: left;
        }


        section {
            width: 100%;
            overflow: hidden;
            margin: 0;
        }

        footer {
            background-color: #2a2d33;
            color: #fff;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 0 1em 0 0;
            font: 400 14px Arial, Helvetica, sans-serif;
            list-style: none;
            line-height: 40px;
        }

            footer p {
                margin: 0;
            }

        ::-webkit-scrollbar {
            width: 10px;
   
        }

        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-thumb {
            border-radius: 999px;
        }

        ::-webkit-scrollbar-track {
            box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
        }

        ::-webkit-scrollbar-thumb {
            box-shadow: 0 0 0 15px rgba(0,0,0,.2) inset;
        }

        ::-webkit-scrollbar-corner {
            background: transparent;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".mainright,.mainleft").height($(document).height() - 125 - $("#menu").height());

        })
    </script>
</head>
<body>
    @Html.Partial("Components/Notification")
    @Html.Partial("Components/Header")
    <section>
        @Html.Partial("Components/Menu")
        @RenderBody()
    </section>
    <footer>
        <p>&copy; @DateTime.Now.Year - Fzrain Application</p>
    </footer>

</body>

</html>
