@model Fzrain.Core.Domain.Permission.User
<div style="width:400px;float :left">
    <div class="editor-label">
        @Html.LabelFor(u => u.UserName)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(u => u.UserName)
    </div>
</div>
<div style="width:400px;float :left">
    <div class="editor-label">
        @Html.LabelFor(u => u.Password)
    </div>
    <div class="editor-field">
        @Html.Kendo().TextBoxFor(u => u.Password)
    </div>
</div>
<div class="editor-label">
    @Html.LabelFor(u => u.Department.DepartmentName)
</div>
<div class="editor-field">
   @Html.Kendo().TextBoxFor(u => u.Department.DepartmentName)
</div>

<div class="editor-label">
    @Html.LabelFor(u => u.Birthday)
</div>
<div class="editor-field">
    @Html.Kendo().DateTimePickerFor(u => u.Birthday).Culture("zh-CN")
</div>
<div class="editor-label">
    @Html.LabelFor(u => u.Gender)
</div>
<div class="editor-field" style="margin-top: 5px">
    @Html.Kendo().RadioButtonFor(u => u.Gender).Label("男").HtmlAttributes(new { id = "male", value = 0 })
    @Html.Kendo().RadioButtonFor(u => u.Gender).Label("女").HtmlAttributes(new { id = "frmale", value = 1 })
</div>
<div class="editor-label">
    @Html.LabelFor(u => u.MobilePhone)
</div>
<div class="editor-field">
    @Html.Kendo().TextBoxFor(u => u.MobilePhone)
</div>
<div class="editor-label">
    @Html.LabelFor(u => u.IsPublic)
</div>
<div class="editor-field">
    @Html.Kendo().CheckBoxFor(u => u.IsPublic)

</div>