@using Fzrain.Core.Domain.Lol
@{
    ViewBag.Title = "Index";
    Layout = "LolBasePage.cshtml";
}
<div class="mainright">
    @(Html.Kendo().Grid<Battle>()
            .Name("grid").Excel(c => c.FileName("data"))
            .Columns(columns =>
            {
                columns.Bound(u => u.ChampionId).ClientTemplate("<img width='50px' src='../../Content/lolpng/#=ChampionId#.png' alt='' />").Width(50).HtmlAttributes(new { style = "text-align:center" }).Filterable(filterable => filterable.UI("championFilter"));
                columns.Bound(u => u.ChampionId).Width(30).HeaderTemplate("Id").Filterable(false);
                columns.Bound(u => u.BattleType).Width(80).ClientTemplate("#=showGameType(BattleType)#");
                columns.Bound(u => u.StartTime).Width(80).Format("{0:yyyy-MM-dd HH:mm:ss}");
                columns.Bound(u => u.Duration).Width(80).ClientTemplate("#=(Duration/60).toFixed(2)#");
                columns.Bound(u => u.IsWin).Width(80).ClientTemplate("#=showWinStatus(IsWin)#");
                columns.Bound(u => u.ContributeOrder).Width(80).ClientTemplate("#=RenderContribute(ContributeOrder)#"); ;
                columns.Command(c => c.Custom("战斗详情").Click("showDetails")).Width(80);
            })
            .ToolBar(c => c.Custom().Text("更新战绩").HtmlAttributes(new { id = "updateBattle" }))
            .Pageable(c => c.PageSizes(true).Messages(m => m.Next("下一页").ItemsPerPage("每页记录数")).Refresh(true))
            .Filterable(filterable => filterable
            .Extra(false))
            .Scrollable().Sortable()
            .HtmlAttributes(new { style = "height:100%;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)

                .Model(model => model.Id(u => u.Id))
                        .Read(read => read.Action("Read", "Lol"))

            )
    )

    @(Html.Kendo().Window()
        .Name("window").Visible(false)
          .Title("弹出页").Content(@<text>
            @Html.Kendo().TextBox().Name("txtQQ").Value("250970574")
            @{
                var areaInfo = new List<DropDownListItem>
                {
                    new DropDownListItem{Text ="雷瑟守备",Value ="11"},
                    new DropDownListItem { Text ="皮城警备",Value ="27"}
                };
            }
            @Html.Kendo().DropDownList().BindTo(areaInfo).Name("areaId")
            @Html.Kendo().TextBox().Name("myRoleName").Value("网络中断突然")
            @Html.Kendo().Button().Content("获取更新").Name("GetUpdateData").Events(e => e.Click("GetUpdateBattles"))
            @Html.Kendo().Button().Content("更新").Name("update").Events(e => e.Click("updateAllbattle"))
            <input type="hidden" id="ids" />
            <div id="content"></div>
        </text>)
                    .Draggable()
                    .Modal(true)
                    .Width(600).Height(400)
                    .Actions(actions => actions.Minimize().Maximize().Close()).Position(a => a.Left(335).Top(100))
    )

    @(Html.Kendo().Window()
        .Name("window2").Visible(false)
          .Title("战斗详情")
    .Draggable()
    .Modal(true)
    .Width(700).Height(470)
    .Actions(actions => actions.Minimize().Maximize().Close()).Position(a => a.Left(335).Top(100))
    )

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#updateBattle").bind("click", function () {
            $("#window").data("kendoWindow").open();
            return false;
        });
    });
   
    function GetUpdateBattles() {
        $.post("/Lol/WaitUpdate", { qq: $("#txtQQ").val(), areaId: $("#areaId").val() }, function (data) {
            $("#ids").val(data);
            for (var i = 0; i < data.length; i++) {
                $("#content").append("<p>" + data[i] + "<p/>");
            }

        });
    }
    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var kendoWindow = $("#window2").data("kendoWindow");
        $.post("/Lol/GetBattleDetail", { GameId: dataItem.GameId }, function (data) {
         
            kendoWindow.content(data);
            kendoWindow.center().open();
        });


    }

    function updateAllbattle() {
        $.post("Lol/UpdateBattle", { ids: $("#ids").val(), areaId: $("#areaId").val(), myRoleName: $("#myRoleName").val() }, function (data) {
            if (data == "ok") {
                kendo.alert("更新成功！");
                $("#window").data("kendoWindow").close();
            }

        });
    }

    function showGameType(gameType) {
        if (gameType == "6") {
            return "极地大乱斗";
        } else {
            return "召唤师峡谷";
        }
    }

    function showWinStatus(isWin) {
        if (isWin == "1") {
            return "<font color='green'>胜利</font>";
        } else {
            return "<font color='red'>失败</font>";
        }
    }

    function RenderContribute(contributeOrder) {
        if (contributeOrder==1) {
            return "<img height='40px' src='../../Content/mvp.png' alt='' />";
        } else {
            return contributeOrder;
        }
    }


    function championFilter(element) {
        element.kendoComboBox({
            dataSource: {
                transport: {
                    read: "@Url.Action("FilterMenuChampion")"
                }
            },
            template: "<img width='50px' src='../../Content/lolpng/#:data#.png' alt='' />"
        });
    }
</script>